<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span>Tu Orden:</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-horizontal-stepper class="full-width">
            <mat-step>
                <ng-template matStepLabel>Productos</ng-template>
                <div *ngIf="(products$ | async) as products">
                    <p *ngIf="products.length === 0">No hay productos</p>
                    <div class="row" *ngFor="let product of products">
                        <div class="col-xs-12 col-sm-2 col-md-2">
                            <div class="box">
                                <img class="image" [src]="product.image" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="box">
                                {{ product.title }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <div class="box">
                                {{ product.price | currency }}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Datos personales</ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Pagar</ng-template>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>